@charset "utf-8";

body 
{
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(202, 41, 41, 1) 54%, rgba(228, 105, 48, 1) 84%);
	font-family: "Rye";
}

h1 
{
	text-align: center;
	font-size: 30ex;
}

.list_image 
{
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	animation: slideInFromLeft 1s ease-out 1;
}

.part_image 
{
	width: 30%;
	border-radius: 100px;
}

.part_image:hover
{
	transform: scale(1.1);
}

.link_list_image 
{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.link_image 
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	transform-origin: center;
}

.link_image:hover 
{
	transform: scale(1.2);
}

.middle_image 
{
	border-radius: 100px;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	transform-origin: center;
}

.middle_image:hover 
{
	transform: scale(1.1);
}

@keyframes slideInFromLeft 
{
	0% 
	{
		transform: translateX(-100%);
		opacity: 0;
	}
	100% 
	{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes pulse 
{
	0% 
	{
		transform: scale(1);
	}
	50% 
	{
		transform: scale(1.05);
	}
	100% 
	{
		transform: scale(1);
	}
}

